* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

figure{
    margin: 0px;
    padding: 0px;
}




/* ---------------KEYBOARD---------------- */




.keyboard {
    width: 800px;
    height: 300px;
    background-image: linear-gradient(to right, #1a1a1a, black, #1a1a1a);
    padding: 0px 10px 10px 15px;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid black;
}

.keyboard ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.keyboard ul li {
    display: flex;
    flex-direction: row;
}

.keyboard ul li:nth-of-type(1) div {
    margin: 10px 15px 15px 0px;
    box-shadow: 5px 0px 10px 0px #00fffb;
    color: #00fffb;
    animation: shadow-color-one 3s linear alternate infinite;
    border-color: #00fffb;
}

.keyboard ul li:nth-of-type(2) div {
    box-shadow: 0px 0px 15px 0px #ff6a00;
    color: #ff6a00;
    animation: shadow-color-two 3s linear alternate infinite;
    border-color: #ff6a00;
}

.keyboard ul li:nth-of-type(3) {
    margin-left: 20px;
}

.keyboard ul li:nth-of-type(3) div {
    box-shadow: 0px 0px 15px 0px #33ff4e;
    color: #33ff4e;
    animation: shadow-color-three 3s linear alternate infinite;
    border-color: #33ff4e;
}

.keyboard ul li:nth-of-type(4) {
    margin-left: 40px;
}

.keyboard ul li:nth-of-type(4) div {
    box-shadow: 0px 0px 15px 0px #b639ff;
    color: #b639ff;
    animation: shadow-color-four 3s linear alternate infinite;
    border-color: #b639ff;
}

.keyboard ul li div {
    margin: 5px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: #1b1b1bc2;
    border: 1px solid;
    color: white;
    transition: transform 0.1;
}

.keyboard ul li div:hover {
    background-color: #000000;
    border: 1px solid #707070;
    transform: scale(1.05);
}

.keyboard ul li div:active {
    transform: scale(0.9);
}





/* -----------------GAME-PANEL---------------- */




.game-panel {
    width: 800px;
    height: 50%;
    background-color: #222;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.start-btn{
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.809);
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-btn p{
    display: block;
    color: white;
    font-family: Verdana;
    font-size: 2rem;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.1s, color 0.1s, background-color 0.1s, border-color 0.1s;
}
.start-btn p:hover{
    border-color: #acac00;
    background-color: #acac00;
    color: black;
}
.start-btn p:active{
    transform: scale(0.9);
}
.game-content{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-image: url(imgs/fundo.jpg);
    background-size: 100% 120%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.game-content figure img{
    height: 90%;
}
.alien_ship{
    position: absolute;
    top: -120px;
    height: 18%;
}
.noventa{
    left: 92px;
}
.cem-noventa{
    left: 192px;
}
.duz-noventa{
    left: 292px;
}
.tre-noventa{
    left: 392px;
}
.qua-noventa{
    left: 492px;
}
.qui-noventa{
    left: 592px;
}
.bomb{
    position: relative;
    height: 10.5%;
}
.alien_ship img{
    width: 100% !important;
    height: 100% !important;
}
.alien_ship p{
    transform: translate(-50%, 80%);
    position: absolute;
    margin: 0px;
    padding: 5px;
    top: 50%;
    left: 50%; 
    border: 5px solid blue;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    font-family: Verdana;
    font-weight: bold;
}




/* ----------------MOVE CLASSES--------------- */



.going-down{
    animation: ship-move 10s linear 1 forwards;
}
.going-right{
    animation: bomb-move 2s linear 1;
}








@keyframes bomb-move {
    
    0%{
        left: 0px;
    }
    100%{
        left: 200px;
    }
    
}

@keyframes ship-move {
    
    0%{
        top: -120px;
    }
    100%{
        top: 290px;
    }

}

@keyframes shadow-color-one {

    0% {
        box-shadow: 0px 0px 15px 0px #00fffb;
    }

    100% {
        box-shadow: 0px 0px 15px 0px #000;
    }

}

@keyframes shadow-color-two {

    0% {
        box-shadow: 0px 0px 15px 0px #ff6a00;
    }

    100% {
        box-shadow: 0px 0px 15px 0px #000;
    }

}

@keyframes shadow-color-three {

    0% {
        box-shadow: 0px 0px 15px 0px #33ff4e;
    }

    100% {
        box-shadow: 0px 0px 15px 0px #000;
    }

}

@keyframes shadow-color-four {

    0% {
        box-shadow: 0px 0px 15px 0px #b639ff;
    }

    100% {
        box-shadow: 0px 0px 15px 0px #000;
    }

}

@media only screen and (max-height: 800px) {

    @keyframes ship-move {
    
        0%{
            top: -120px;
        }
        100%{
            top: 230px;
        }
    
    }

}

@media only screen and (max-height: 700px) {
    
    .alien_ship p{
        transform: translate(-50%, 30%);
    }

    @keyframes ship-move {
    
        0%{
            top: -120px;
        }
        100%{
            top: 200px;
        }
    
    }

}

@media only screen and (max-height: 600px) {
    
    @keyframes ship-move {
    
        0%{
            top: -120px;
        }
        100%{
            top: 180px;
        }
    
    }

}

