*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}




/* ---------------KEYBOARD---------------- */




.keyboard{
    width: 800px;
    height: 300px;
    background-color: #2d2d2d;
    padding: 00px 10px 10px 15px;
    border-radius: 0px 0px 10px 10px;
}
.keyboard ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.keyboard ul li{
    display: flex;
    flex-direction: row;
}
.keyboard ul li:nth-of-type(1) div{
    margin: 10px 15px 15px 0px;
    box-shadow: 0px 0px 10px 0px #00fffb;
    color: #00fffb;
}
.keyboard ul li:nth-of-type(2) div{
    box-shadow: 0px 0px 10px 0px #ff6a00;
    color: #ff6a00;            
}
.keyboard ul li:nth-of-type(3){
    margin-left: 20px;
}
.keyboard ul li:nth-of-type(3) div{
    box-shadow: 0px 0px 10px 0px #33ff4e;
    color: #33ff4e;
}
.keyboard ul li:nth-of-type(4){
    margin-left: 40px;
}
.keyboard ul li:nth-of-type(4) div{
    box-shadow: 0px 0px 10px 0px #b639ff;
    color: #b639ff;
}
.keyboard ul li div{
    margin: 5px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: #1b1b1bc2;
    border: 1px solid #4c4c4c;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    transition: transform 0.1;
}
.keyboard ul li div:hover{
    background-color: #000000;
    border: 1px solid #707070;
}
.keyboard ul li div:active{
    transform: scale(0.9);
}





/* -----------------GAME-PANEL---------------- */




.game-panel{
    width: 800px;
    height: 50%;
    background-color: #222;
    border-radius: 10px 10px 0px 0px;


}


